<!DOCTYPE html>
<html>

<head>
  <title>Todo_Slack</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <h2>TODOリスト</h2>
  <table border="1" bgcolor="#ffffff">
    <tr bgcolor="#44db30">
      <th>優先順位</th>
      <th>タスク名</th>
      <th>期限</th>
      <th>完了</th>
    </tr>
    <tr>
      <th bgcolor="#cccccc">1</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th bgcolor="#cccccc">2</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th bgcolor="#cccccc">3</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th bgcolor="#cccccc">4</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <button type="submit" formaction="new.ejs" name="new">(編集)</button>

  <h2>完了タスク</h2>
  <table border="1" bgcolor="#ffffff">
    <tr bgcolor="#44db30">
      <th></th>
      <th>終了タスク名</th>
      <th>期限</th>
      <th>削除</th>
    </tr>
    <tr>
      <th bgcolor="#cccccc">1</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th bgcolor="#cccccc">2</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th bgcolor="#cccccc">3</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th bgcolor="#cccccc">4</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

</body>

</html>