<!DOCTYPE html>
<html>
  <head>
    <title>TODOリスト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <br><br>
    <div id="form">
    <p class="form-title">ログイン画面</p>
      <form action="/login" method="post">
        <p>ユーザネーム</p>
        <p class="user"><input type="username" name="user"/></p>
        <p>パスワード</p>
        <p class="pass"><input type="password" name="pass"/></p>
        <p class="check"><input type="checkbox" name="checkbox"/>パスワードを保存</p>
        <br><a href="signup.ejs">新規登録はこちらから</a>
        <p class="submit"><input type="submit" value="ログイン"/></p>
      </form>
    </div>

  </body>
</html>
